.navbar {
    padding: 1.5rem 2rem
}
nav form {
    margin: 0
}

nav a {
    text-decoration: none;
}
/* 
.bg-dark {
  background-color: red !important;
} */

.nav-link {
  color: rgba(255, 255, 255, 0.9) !important
}